/*HASIL OVERRIDE*/

* {
	margin: 0;
	padding: 0;
}

.register-top-grid input[type="text"], 
.register-bottom-grid input[type="text"], 
.register-top-grid input[type="password"],
.register-top-grid input[type="date"],
.register-top-grid input[type="number"],
.register-top-grid input[type="tel"],
.register-top-grid input[type="email"] {
	border: 1px solid #EEE;
	outline-color: #FF5B36;
	width: 30% !important;
	font-size: 1em;
	padding: 0.5em;
	margin: 0.5em 0;
}

/*.register-top-grid input[type="textarea"] {
	border: 1px solid #EEE;
	outline-color: #FF5B36;
	width: 30% !important;
	font-size: 1em;
	padding: 0.5em;
	margin: 0.5em 0;
}*/

.register-top-grid span {
	padding-top: 10px;
}

.register-top-grid input[type="file"] {
	padding: 20px 0px 20px;
}

/*login button*/
input[type="submit"] {
	border: none;
	background-color: #F97E76;
	color: white;
	text-transform: uppercase;
	padding: 5px;
}

.search input[type="submit"] {
	color: black;
	text-transform: capitalize;
}
